# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# Windows Zone Identifier files (safe to delete)
*:Zone.Identifier
*.Zone.Identifier

# Node
node_modules/
build/
dist/
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.log
